.SendInformationWrapper
  .SendInformation__topLogo
    = image_tag "logo.png", alt: "logo"
  .SendInformation__main
    .SendInformation__inner
      %h2.SendInformation__inner__title
        お届け先住所一覧
      = link_to new_user_send_information_path, class: "newSendInformation__link" do
        新しいお届け先を登録する
      %p
        ※ お届け先は３件まで登録できます。
      .sendInformationGroup
        .sendInformationGroup__table1
          %table
            %tbody
              %tr
                %th.name
                  お名前
                %td.address
                  ご住所 / 電話番号
                %th
                  登録先の変更

        .sendInformationGroup__table2
          - @send_informations.each do |data|
            %table
              %tbody
                %tr
                  %th
                    = data.family_name
                    = data.first_name
                  %td
                    住所：
                    = Prefecture.find(data.prefecture_id).name
                    = data.city
                    = data.house_number
                    = data.apartment
                    .br
                    電話番号：
                    = data.phone_number
                  %th
                    = link_to edit_send_information_path(data.id) do
                      変更する