.imageUpload
  = form_for @item do |f|
    #imageBox
      = f.fields_for :images do |image|
        .js-fileGroup{"data-index" => "#{image.index}"}
          = image.file_field :image, class: 'js-file'
          - if @item.persisted?
            = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
          - if @item.persisted?
            = js-fileGroup{"data-index" => "#{@item.images.count}"}
              = file_field_tag :image, name: "item[images_attributes][#{@item.images.count}][image]", class: 'js-file'
              .js-remove
                削除