.header
  = image_tag 'logo.png', class: "logo"
.back
  .contents
    .contents__font
      購入内容の確認
    .contents__item
      = image_tag @item.images[0].image.url ,class: "subImage"
      .contents__item__name
        = @item.name
      .contents__item__money
        .contents__item__money__font
          = @item.deliveryfee.name
        .comtents__item__money__num
          = "¥#{@item.price}"
    .contents__money
      .contents__money__font
        商品金額
      .contents__money__num
        = "¥#{@item.price}"
    .contents__method
      .contents__method__font
        - if current_user.credit
          お支払いは登録されているクレジットカードでの決済になります。
        - else
          = link_to new_credit_path do
            クレジットカードを登録して下さい。
    .contents__delivery
      .contents__delivery__font
        配送先
        - if current_user.send_informations[0]
          登録済の住所にお届けいたします。
        - else
          = link_to  new_user_send_information_path(current_user.id), class: ".contents__delivery__record" do
            登録してください
    .contents__note
      .contents__note__font
        - if flash.now[:alert]
          .itemBuyError
            = flash.now[:alert]
    .contents__btn
      - if current_user.send_informations[0] && current_user.credit
        = link_to pay_item_path, method: :post, class: "payBtn" do
          購入する
      - else
        配送先・並びにカードの登録後購入ができます
