.main
  a
  .main__top__visual
    .content
      %h2.content__subtitle
        人生を変えるフリマアプリ
      %p.content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
      .content__btn
        =link_to "#", class: "app__btn" do
          = image_tag "app-store.svg", class: "image", alt: "app-store"
        =link_to "#", class: "google__btn" do
          = image_tag "google-play.svg", class: "image", alt: "google-play"
  .main__introduction
    %h2.subtitle
      FURIMAが選ばれる3つの理由
      -# %::after
    %ul.lists
      %li.list
        .list__pict
          %span.number 1
          = image_tag "pict-reason-01.jpg", alt: "pict-reason-01"
        %h3.list__text
          %span 3分
          ですぐに出品
        .list__description
          スマホで入力するだけで簡単に出品できる！
      %li.list
        .list__pict
          %span.number 2
          = image_tag "pict-reason-02.jpg", alt: "pict-reason-02"
        %h3.list__text
          %span シンプル
          で使いやすい
        .list__description
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.list
        .list__pict
          %span.number 3
          = image_tag "pict-reason-03.jpg", alt: "pict-reason-03"
        %h3.list__text
          手数料
          %span 業界最安
        .list__description
          最大3%でお得に出品&購入！
  .main__middle__visual
    .main__middle__visual__box
      %h2.main__middle__visual__box__subtitle
        会員数日本一位
      %p.main__middle__visual__box__text 
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
      .main__middle__visual__box__btn
        =link_to "#", class: "app__btn main__middle__visual__box__btn__link" do
          = image_tag "app-store.svg", class: "image", alt: "app-store"
        =link_to "#", class: "google__btn main__middle__visual__box__btn__link" do
          = image_tag "google-play.svg", class: "image", alt: "google-play"
  .main__key__features
    FURIMAの特徴

  .pickup__container
    ピックアップカテゴリー
  .pickup__container
    ピックアップブランド
.app__banner
  h
