.main
  a
  .main__top__visual
    .content
      %h2.content__subtitle
        人生を変えるフリマアプリ
      %p.content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
      .content__btn
        =link_to "#", class: "app__btn" do
          = image_tag "app-store.svg", class: "image", alt: "app-store"
        =link_to "#", class: "google__btn" do
          = image_tag "google-play.svg", class: "image", alt: "google-play"
  .main__introduction
    %h2.subtitle
      FURIMAが選ばれる3つの理由
      -# %::after
    %ul.lists
      %li.list
        .list__pict
          %span.number 1
          = image_tag "pict-reason-01.jpg", alt: "pict-reason-01"
        %h3.list__text
          %span 3分
          ですぐに出品
        .list__description
          スマホで入力するだけで簡単に出品できる！
      %li.list
        .list__pict
          %span.number 2
          = image_tag "pict-reason-02.jpg", alt: "pict-reason-02"
        %h3.list__text
          %span シンプル
          で使いやすい
        .list__description
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.list
        .list__pict
          %span.number 3
          = image_tag "pict-reason-03.jpg", alt: "pict-reason-03"
        %h3.list__text
          手数料
          %span 業界最安
        .list__description
          最大3%でお得に出品&購入！
  .main__middle__visual
    .main__middle__visual__box
      %h2.main__middle__visual__box__subtitle
        会員数日本一位
      %p.main__middle__visual__box__text 
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
      .main__middle__visual__box__btn
        =link_to "#", class: "app__btn main__middle__visual__box__btn__link" do
          = image_tag "app-store.svg", class: "image", alt: "app-store"
        =link_to "#", class: "google__btn main__middle__visual__box__btn__link" do
          = image_tag "google-play.svg", class: "image", alt: "google-play"
  .key__features
    %h2.key__features__title
      FURIMAの特徴
    .key__features__points
      .features__point
        .features__point__img
          = image_tag "features_icon-01.png", alt: "features_icon-01"
        %h3.features__point__subtitle
          簡単に売り買いできる
        %p.features__point__description
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .features__point
        .features__point__img
          = image_tag "features_icon-02.png", alt: "features_icon-02"
        %h3.features__point__subtitle
          売上金は即日振込みに対応
        %p.features__point__description
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      .features__point
        .features__point__img
          = image_tag "features_icon-03.png", alt: "features_icon-03"
        %h3.features__point__subtitle
          様々な支払いに対応
        %p.features__point__description
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  .pickup__container
    %h2.pickup__container__title
      ピックアップカテゴリー
    .pickup__container__items__box
      .pickup__container__items__box__head
        = link_to "#", class: "pickup__container__items__box__head__link" do
          %h3.pickup__container__items__box__head__link__title
            新規投稿商品
      .pickup__container__items__box__lists
        .pickup__container__items__box__list
          = link_to "#", class: "pickup__container__items__box__list__link" do
            .pickup__container__items__box__list__link__img
              = image_tag "item1.jpeg", alt: "item1", class: "pickup__container__items__box__list__link__img--tag"
            .pickup__container__items__box__list__link__body
              %h3.pickup__container__items__box__list__link__body__item__name
                ee
              .pickup__container__items__box__list__link__body__item__details
                %ul.pickup__container__items__box__list__link__body__item__details--ul
                  %li 1000円
                  %li
                    = icon("fa", "star", class: "likeIcon")
                    0
                %p.pickup__container__item__tax
                  (税込)
        .pickup__container__items__box__list
          = link_to "#", class: "pickup__container__items__box__list__link" do
            .pickup__container__items__box__list__link__img
              = image_tag "item2.png", alt: "item2", class: "pickup__container__items__box__list__link__img--tag"
            .pickup__container__items__box__list__link__body
              %h3.pickup__container__items__box__list__link__body__item__name
                product3
              .pickup__container__items__box__list__link__body__item__details
                %ul.pickup__container__items__box__list__link__body__item__details--ul
                  %li 30000円
                  %li
                    = icon("fa", "star", class: "likeIcon")
                    0
                %p.pickup__container__item__tax
                  (税込)
        .pickup__container__items__box__list
          = link_to "#", class: "pickup__container__items__box__list__link" do
            .pickup__container__items__box__list__link__img
              = image_tag "item3.png", alt: "item3", class: "pickup__container__items__box__list__link__img--tag"
            .pickup__container__items__box__list__link__body
              %h3.pickup__container__items__box__list__link__body__item__name
                product2
              .pickup__container__items__box__list__link__body__item__details
                %ul.pickup__container__items__box__list__link__body__item__details--ul
                  %li 20000円
                  %li
                    = icon("fa", "star", class: "likeIcon")
                    0
                %p.pickup__container__item__tax
                  (税込)
        .pickup__container__items__box__list
          = link_to "#", class: "pickup__container__items__box__list__link" do
            .pickup__container__items__box__list__link__img
              = image_tag "item4.png", alt: "item4", class: "pickup__container__items__box__list__link__img--tag"
            .pickup__container__items__box__list__link__body
              %h3.pickup__container__items__box__list__link__body__item__name
                product1
              .pickup__container__items__box__list__link__body__item__details
                %ul.pickup__container__items__box__list__link__body__item__details--ul
                  %li 10000円
                  %li
                    = icon("fa", "star", class: "likeIcon")
                    0
                %p.pickup__container__item__tax
                  (税込)

  .pickup__container
    %h2.pickup__container__title
      ピックアップブランド
    .pickup__container__items__box
      .pickup__container__items__box__head
        = link_to "#", class: "pickup__container__items__box__head__link" do
          %h3.pickup__container__items__box__head__link__title
            アーカイバ
      .pickup__container__items__box__lists
        .pickup__container__items__box__list
          = link_to "#", class: "pickup__container__items__box__list__link" do
            .pickup__container__items__box__list__link__img
              = image_tag "item1.jpeg", alt: "item1", class: "pickup__container__items__box__list__link__img--tag"
            .pickup__container__items__box__list__link__body
              %h3.pickup__container__items__box__list__link__body__item__name
                ee
              .pickup__container__items__box__list__link__body__item__details
                %ul.pickup__container__items__box__list__link__body__item__details--ul
                  %li 1000円
                  %li
                    = icon("fa", "star", class: "likeIcon")
                    0
                %p.pickup__container__item__tax
                  (税込)
        .pickup__container__items__box__list
          = link_to "#", class: "pickup__container__items__box__list__link" do
            .pickup__container__items__box__list__link__img
              = image_tag "item2.png", alt: "item2", class: "pickup__container__items__box__list__link__img--tag"
            .pickup__container__items__box__list__link__body
              %h3.pickup__container__items__box__list__link__body__item__name
                product3
              .pickup__container__items__box__list__link__body__item__details
                %ul.pickup__container__items__box__list__link__body__item__details--ul
                  %li 30000円
                  %li
                    = icon("fa", "star", class: "likeIcon")
                    0
                %p.pickup__container__item__tax
                  (税込)
        .pickup__container__items__box__list
          = link_to "#", class: "pickup__container__items__box__list__link" do
            .pickup__container__items__box__list__link__img
              = image_tag "item3.png", alt: "item3", class: "pickup__container__items__box__list__link__img--tag"
            .pickup__container__items__box__list__link__body
              %h3.pickup__container__items__box__list__link__body__item__name
                product2
              .pickup__container__items__box__list__link__body__item__details
                %ul.pickup__container__items__box__list__link__body__item__details--ul
                  %li 20000円
                  %li
                    = icon("fa", "star", class: "likeIcon")
                    0
                %p.pickup__container__item__tax
                  (税込)
        .pickup__container__items__box__list
          = link_to "#", class: "pickup__container__items__box__list__link" do
            .pickup__container__items__box__list__link__img
              = image_tag "item4.png", alt: "item4", class: "pickup__container__items__box__list__link__img--tag"
            .pickup__container__items__box__list__link__body
              %h3.pickup__container__items__box__list__link__body__item__name
                product1
              .pickup__container__items__box__list__link__body__item__details
                %ul.pickup__container__items__box__list__link__body__item__details--ul
                  %li 10000円
                  %li
                    = icon("fa", "star", class: "likeIcon")
                    0
                %p.pickup__container__item__tax
                  (税込)

.app__banner
  h
