= render "header"
.Main
  .mainTopVisual
    .mainTopVisual__content
      %h2.mainTopVisual__content__subtitle
        人生を変えるフリマアプリ
      %p.mainTopVisual__content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
      .mainTopVisual__content__btn
        =link_to "#" do
          = image_tag "app-store.svg", alt: "app-store"
        =link_to "#" do
          = image_tag "google-play.svg", alt: "google-play"
  .mainIntroduction
    %h2.mainIntroduction__subtitle
      FURIMAが選ばれる3つの理由
      -# %::after
    %ul
      %li.mainIntroduction__list
        .mainIntroduction__list__pict
          %span.mainIntroduction__list__pict__number 1
          = image_tag "pict-reason-01.jpg", alt: "pict-reason-01"
        %h3.mainIntroduction__list__text
          %span 3分
          ですぐに出品
        .mainIntroduction__list__description
          スマホで入力するだけで簡単に出品できる！
      %li.mainIntroduction__list
        .mainIntroduction__list__pict
          %span.mainIntroduction__list__pict__number 2
          = image_tag "pict-reason-02.jpg", alt: "pict-reason-02"
        %h3.mainIntroduction__list__text
          %span シンプル
          で使いやすい
        .mainIntroduction__list__description
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.mainIntroduction__list
        .mainIntroduction__list__pict
          %span.mainIntroduction__list__pict__number 3
          = image_tag "pict-reason-03.jpg", alt: "pict-reason-03"
        %h3.mainIntroduction__list__text
          手数料
          %span 業界最安
        .mainIntroduction__list__description
          最大3%でお得に出品&購入！
  .mainMiddleVisual
    .mainMiddleVisual__box
      %h2.mainMiddleVisual__box__subtitle
        会員数日本一位
      %p.mainMiddleVisual__box__text 
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
      .mainMiddleVisual__box__btn
        =link_to "#" do
          = image_tag "app-store.svg", alt: "app-store"
        =link_to "#" do
          = image_tag "google-play.svg", alt: "google-play"
  .key__features
    %h2.key__features__title
      FURIMAの特徴
    .key__features__points
      .features__point
        .features__point__img
          = image_tag "features_icon-01.png", alt: "features_icon-01"
        %h3.features__point__subtitle
          簡単に売り買いできる
        %p.features__point__description
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .features__point
        .features__point__img
          = image_tag "features_icon-02.png", alt: "features_icon-02"
        %h3.features__point__subtitle
          売上金は即日振込みに対応
        %p.features__point__description
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      .features__point
        .features__point__img
          = image_tag "features_icon-03.png", alt: "features_icon-03"
        %h3.features__point__subtitle
          様々な支払いに対応
        %p.features__point__description
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  .pickupContainer
    %h2.pickupContainer__title
      ピックアップカテゴリー
    .pickupContainer__items__box
      .pickupContainer__items__box__head
        = link_to "#", class: "pickupContainer__items__box__head__link" do
          %h3.pickupContainer__items__box__head__link__title
            新規投稿商品
      .pickupContainer__items__box__lists
        .pickupContainer__items__box__list
          = link_to "#", class: "pickupContainer__items__box__list__link" do
            .pickupContainer__items__box__list__link__img
              = image_tag "item1.jpeg", alt: "item1", class: "pickupContainer__items__box__list__link__img--tag"
            .pickupContainer__items__box__list__link__body
              %h3.pickupContainer__items__box__list__link__body__item__name
                ee
              .pickupContainer__items__box__list__link__body__item__details
                %ul.pickupContainer__items__box__list__link__body__item__details--ul
                  %li 1000円
                  %li
                    = icon("fa", "star", class: "likeIcon")
                    0
                %p.pickupContainer__item__tax
                  (税込)
        .pickupContainer__items__box__list
          = link_to "#", class: "pickupContainer__items__box__list__link" do
            .pickupContainer__items__box__list__link__img
              = image_tag "item2.png", alt: "item2", class: "pickupContainer__items__box__list__link__img--tag"
            .pickupContainer__items__box__list__link__body
              %h3.pickupContainer__items__box__list__link__body__item__name
                product3
              .pickupContainer__items__box__list__link__body__item__details
                %ul.pickupContainer__items__box__list__link__body__item__details--ul
                  %li 30000円
                  %li
                    = icon("fa", "star", class: "likeIcon")
                    0
                %p.pickupContainer__item__tax
                  (税込)
        .pickupContainer__items__box__list
          = link_to "#", class: "pickupContainer__items__box__list__link" do
            .pickupContainer__items__box__list__link__img
              = image_tag "item3.png", alt: "item3", class: "pickupContainer__items__box__list__link__img--tag"
            .pickupContainer__items__box__list__link__body
              %h3.pickupContainer__items__box__list__link__body__item__name
                product2
              .pickupContainer__items__box__list__link__body__item__details
                %ul.pickupContainer__items__box__list__link__body__item__details--ul
                  %li 20000円
                  %li
                    = icon("fa", "star", class: "likeIcon")
                    0
                %p.pickupContainer__item__tax
                  (税込)
        .pickupContainer__items__box__list
          = link_to "#", class: "pickupContainer__items__box__list__link" do
            .pickupContainer__items__box__list__link__img
              = image_tag "item4.png", alt: "item4", class: "pickupContainer__items__box__list__link__img--tag"
            .pickupContainer__items__box__list__link__body
              %h3.pickupContainer__items__box__list__link__body__item__name
                product1
              .pickupContainer__items__box__list__link__body__item__details
                %ul.pickupContainer__items__box__list__link__body__item__details--ul
                  %li 10000円
                  %li
                    = icon("fa", "star", class: "likeIcon")
                    0
                %p.pickupContainer__item__tax
                  (税込)

  .pickupContainer
    %h2.pickupContainer__title
      ピックアップブランド
    .pickupContainer__items__box
      .pickupContainer__items__box__head
        = link_to "#", class: "pickupContainer__items__box__head__link" do
          %h3.pickupContainer__items__box__head__link__title
            アーカイバ
      .pickupContainer__items__box__lists
        .pickupContainer__items__box__list
          = link_to "#", class: "pickupContainer__items__box__list__link" do
            .pickupContainer__items__box__list__link__img
              = image_tag "item1.jpeg", alt: "item1", class: "pickupContainer__items__box__list__link__img--tag"
            .pickupContainer__items__box__list__link__body
              %h3.pickupContainer__items__box__list__link__body__item__name
                ee
              .pickupContainer__items__box__list__link__body__item__details
                %ul.pickupContainer__items__box__list__link__body__item__details--ul
                  %li 1000円
                  %li
                    = icon("fa", "star", class: "likeIcon")
                    0
                %p.pickupContainer__item__tax
                  (税込)
        .pickupContainer__items__box__list
          = link_to "#", class: "pickupContainer__items__box__list__link" do
            .pickupContainer__items__box__list__link__img
              = image_tag "item2.png", alt: "item2", class: "pickupContainer__items__box__list__link__img--tag"
            .pickupContainer__items__box__list__link__body
              %h3.pickupContainer__items__box__list__link__body__item__name
                product3
              .pickupContainer__items__box__list__link__body__item__details
                %ul.pickupContainer__items__box__list__link__body__item__details--ul
                  %li 30000円
                  %li
                    = icon("fa", "star", class: "likeIcon")
                    0
                %p.pickupContainer__item__tax
                  (税込)
        .pickupContainer__items__box__list
          = link_to "#", class: "pickupContainer__items__box__list__link" do
            .pickupContainer__items__box__list__link__img
              = image_tag "item3.png", alt: "item3", class: "pickupContainer__items__box__list__link__img--tag"
            .pickupContainer__items__box__list__link__body
              %h3.pickupContainer__items__box__list__link__body__item__name
                product2
              .pickupContainer__items__box__list__link__body__item__details
                %ul.pickupContainer__items__box__list__link__body__item__details--ul
                  %li 20000円
                  %li
                    = icon("fa", "star", class: "likeIcon")
                    0
                %p.pickupContainer__item__tax
                  (税込)
        .pickupContainer__items__box__list
          = link_to "#", class: "pickupContainer__items__box__list__link" do
            .pickupContainer__items__box__list__link__img
              = image_tag "item4.png", alt: "item4", class: "pickupContainer__items__box__list__link__img--tag"
            .pickupContainer__items__box__list__link__body
              %h3.pickupContainer__items__box__list__link__body__item__name
                product1
              .pickupContainer__items__box__list__link__body__item__details
                %ul.pickupContainer__items__box__list__link__body__item__details--ul
                  %li 10000円
                  %li
                    = icon("fa", "star", class: "likeIcon")
                    0
                %p.pickupContainer__item__tax
                  (税込)

.main__bottom--banner
  .main__bottom--banner__box
    %h2.main__bottom--banner__box--title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.main__bottom--banner__box--text
      今すぐ無料ダウンロード！
    .main__bottom--banner__box--icon
      = link_to "#", class: "main__bottom--banner__box--icon--link" do
        = image_tag "app-store.svg", class: "banner app--btn", alt: "app-store"
      = link_to "#", class: "main__bottom--banner__box--icon--link" do
        = image_tag "google-play.svg", class: "banner google--btn", alt: "google-play"

= render "footer"