
.wrapper
  .itemMain
    .itemBox
      %h2.itemBox__name
        = @item.name
      .itemBox__body
        %ul
          %li.itemBox__body--main
            = image_tag "show_sample1.png",size: "560x346",class: "mainImage"
          %ul.itemBox__body--others
            %li
            = image_tag "show_sample1.png",class: "subImage"
            %li
            = image_tag "show_sample2.png",class: "subImage"
            %li
            = image_tag "show_sample3.png",class: "subImage"
      .itemBox__price
        %span
          = "¥#{@item.price + @item.delivery_fee}"
        .itemBox__price-detail
          %span
            (税込)
          %span
            送料込み
      .itemBox__detail
        = @item.produce
      .itemBox__table
        %table
          %tbody
            %tr
              %th
                出品者
              %td
                = @item.user.nickname
            %tr
              %th
                カテゴリー
              %td
                = link_to "#" do
                  = @item.category.name
            %tr
              %th
                ブランド
              %td
                = @item.brand.name
            %tr
              %th
                商品のサイズ
              %td

            %tr
              %th
                商品の状態
              %td
                = @item.condition.name
            %tr
              %th
                配送料の負担
              %td
                送料込み(出品者負担)
            %tr
              %th
                発送元の地域
              %td
                =link_to "#" do
                  = @item.prefecture.name
            %tr
              %th
                発送日の目安
              %td
                = @item.deliverydate.name
      .itemBox__option
        %ul
          %li.itemBox__option--btn.likeBtn
            %i.fa.fa-star
            お気に入り 0
        %ul.itemBox__option--out
          %li.itemBox__option--btn
            = link_to "#" do
              %i.fa.fa-flag
              不適切な商品の通報
    .commentBox
      = form_with url:"#",method: :post, class: "commentBox__form",local: true do |f|
        = f.text_area :comment, class: "commentBox__inputArea"
        %p.commentBox__inputArea--notice
          相手のことを考え丁寧なコメントを心がけましょう。
          %br
          不適切な言葉遣いなどは利用制限や退会処分となることがあります。
        .commentBox__inputArea--submit
          = button_tag type: 'submit',class: "submitBtn" do
            %i.fa.fa-comment
            コメントする
    %ul.links
      %li
        =link_to "#" do
          <前の商品
      %li
        =link_to "#" do
          後ろの商品>
    .relatedItems
      = link_to "#" do
        ベビー・キッズをもっと見る
      .itemsLists
        .itemsList
          = link_to "#" do
            = image_tag "show_sample4.jpg",class: "imageLink"
            .itemsList__name
              %h3.name ee
            .itemsList__details
              %ul
                %li
                  1000円
                %li
                  %i.fa.fa-star
                  0
              %p
                (税込)
