
.wrapper
  .itemMain
    .itemBox
      -if user_signed_in? && @item.seller.id == current_user.id
        .itemBox__btns
          .itemBox__btns--edit.itemBtn
            = link_to "#" do
              編集
          .itemBox__btns--delete.itemBtn
            = link_to item_path(@item), method: :delete do
              削除
      %h2.itemBox__name
        = @item.name
      .itemBox__body
        %ul
          %li.itemBox__body--main
            = image_tag @item.images[0].image.url,size: "560x346",class: "mainImage"
          %ul.itemBox__body--others
            - @item.images.each do |i|
              %li
                = image_tag i.image.url,class: "subImage"
      .itemBox__price
        %span
          = "¥#{@item.price}"
        .itemBox__price-detail
          %span
            (税込)
          %span
            = @item.deliveryfee.name
      .itemBox__purchase
        .itemBox__purchase--btn
          - if @item.buyer_id
            .itemSoldMessage
              この商品は既に誰かが購入済みです！
          - else
            = link_to buy_item_path do
              購入画面に進む
      - if flash.now[:alert]
        .itemBox__purchase--flash
          = flash.now[:alert]
      .itemBox__detail
        = @item.produce
      .itemBox__table
        %table
          %tbody
            %tr
              %th
                出品者
              %td
                = @item.seller.nickname
            %tr
              %th
                カテゴリー
              %td
                = link_to "#" do
                  = @item.itemcategory.name
            %tr
              %th
                ブランド
              %td
                - if @item.brand
                  = @item.brand.name
            %tr
              %th
                商品のサイズ
              %td

            %tr
              %th
                商品の状態
              %td
                = @item.condition.name
            %tr
              %th
                配送料の負担
              %td
                = @item.deliveryfee.name
            %tr
              %th
                発送元の地域
              %td
                =link_to "#" do
                  = @item.prefecture.name
            %tr
              %th
                発送日の目安
              %td
                = @item.deliverydate.name
      .itemBox__option
        %ul
          %li.itemBox__option--btn.likeBtn
            %i.fa.fa-star
            お気に入り 0
        %ul.itemBox__option--out
          %li.itemBox__option--btn
            = link_to "#" do
              %i.fa.fa-flag
              不適切な商品の通報
    .commentBox
      = form_with url:"#",method: :post, class: "commentBox__form",local: true do |f|
        = f.text_area :comment, class: "commentBox__inputArea"
        %p.commentBox__inputArea--notice
          相手のことを考え丁寧なコメントを心がけましょう。
          %br
          不適切な言葉遣いなどは利用制限や退会処分となることがあります。
        .commentBox__inputArea--submit
          = button_tag type: 'submit',class: "submitBtn" do
            %i.fa.fa-comment
            コメントする
    %ul.links
      %li
        =link_to "#" do
          <前の商品
      %li
        =link_to "#" do
          後ろの商品>
    .relatedItems
      = link_to "#" do
        = "#{@item.itemcategory.name}をもっと見る"
      .itemsLists
        - if @items
          - @items.each do |i|
            .itemsList
              = link_to item_path(i.id) do
                = image_tag i.images[0].image.url,class:"imageLink"
                .itemsList__name
                  %h3.name
                    = i.name
                .itemsList__details
                  %ul
                    %li
                      = i.price
                    %li
                      %i.fa.fa-star
                      0
                  %p
                    (税込)
