.CommonHeader
  .CommonHeader__inner
    .mainHeader
      %h.mainHeader__iconLogo
        = link_to root_path do
          = image_tag "logo.png", alt: "logo"
      .mainHeader__searchForm
        = form_with url: root_path, method: :get, class: "mainHeader__searchForm__area", local: true do |f|
          = f.text_field :keyword, placeholder: "キーワードから探す", class: "mainHeader__searchForm__area__input"
          %button{type: "submit", class: "mainHeader__searchForm__area__btn"}
            = image_tag "icon-search 1.png", alt: "search"
    .CommonHeader__contents
      %ul.CommonHeader__contents__listsLeft
        %li.CommonHeader__contents__listsLeft__firstItem
          = link_to '#', id: 'headerCategory' do
            カテゴリー
            %input{name: "parents", type: "hidden", value: @parents, class: 'parents' }
            %li
              = @grandchild.name
          -# 実装に時間がかかりそうな為、一度保留とし、後で実装させて頂きます。  
          -# .Itemcategory
          -#   %ul.itemcategory__parent
          -#     - @parents.each do |parent|
          -#       %li.parent__list
          -#         = link_to "#", class: "itemcategory__parent--name" do
          -#           = parent.name
          -#         %ul.itemcategory__child
          -#           - parent.children.each do |child|
          -#             %li.child.list
          -#               = link_to "#", class: "itemcategory__child--name" do
          -#                 = child.name
          -#               %ul.itemcategory__grandchild
          -#                 - child.children.each do |grandchild|
          -#                   %li.grandchild__list
          -#                     = link_to "#", class: "itemcategory__child--name" do
          -#                       = grandchild.name 
        %li.CommonHeader__contents__listsLeft__secondItem
          = link_to '#' do
            ブランド
      %ul.CommonHeader__contents__listsRight
        - if user_signed_in?
          %li.CommonHeader__contents__listsLeft__secondItem
            = link_to user_path(current_user.id) do
              マイページ
        - else
          %li.CommonHeader__contents__listsRight__firstItem
            = link_to new_user_session_path do
              ログイン
          %li.CommonHeader__contents__listsLeft__secondItem
            = link_to new_user_registration_path do
              新規会員登録