!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FleamarketSample78c
    %script{src: "https://js.pay.jp/v1/", type: "text/javascript"}
    -# %script{src: "https://js.pay.jp/v2/pay.js"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = include_gon
    = javascript_include_tag 'application'
    -# = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render "layouts/header"
    = yield
    = render "layouts/footer"
